<%- include('partials/header') %>

<% if (tip){%>
    <style>
      .giz{
        display: inline;
      }
      
      </style>
   <% } else { %>
    <style>
      .giz{
        display: none;
      }
    </style>
    <% }%>

<div class="iframe-wrapper">
    <iframe src="/My-Family-11-May-2023-041853912.html" width="100%" height="100%" frameborder="0"></iframe>
</div>

