<%- include('partials/header') %>
<form action="/dogrula" method="post">
    <div class="form-group">
      <input type="password" class="form-control centers" name="sifre" id="exampleInputPassword1" placeholder="şifreyi giriniz">
    </div>
    <button type="submit" class="buttons btn btn-lg"  style="display: block; margin: 0 auto;">Submit</button>
  </form>
<%- include('partials/footer') %>