.container-fluid {
    color: #F99B7D;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    background-color:#8BACAA ;
    height: 110vh;
    overflow-y: auto; /* Yalnızca dikey kaydırma çubuğunu göster */

}
.navbar {
    background-color:#B04759;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #8BACAA;
    
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top:20%
  }
.yanlis{
    
    font-size: 5rem;
    color:black;

}

.btn-yanlis{
    display: block;
    margin: 10% auto ;
}
.post-p{
    padding:1%;
    background-color: #F99B7D;
    
}
.posth1{
    color:#B04759;
}
.ust-sag{
    color: #8BACAA;
    font-size: 1rem;
    

}
.conteiner{
    display: flex;

}
.navbar-nav  li a:hover {
    color: #8BACAA !important;
}

.footer-padding {
	padding-bottom: 60px;
}
.buttons{
    margin-top: 1000%;
}

.footer {
    text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #B04759
  /* Diğer gerekli stillemeler */
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
}
.btn{
    background-color: #B04759;
    color:#8BACAA;
}
@media (max-width:800px){
    .yanlis{
        font-size: 3rem;
      }


}
@media (max-width:1000px){
.agac{display: none;}

}
.form-group{
    padding-bottom: 5%;
}
.centers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top:10%
  }  
.form-control{
    background-color: #F99B7D;
}
.preserve-whitespace {
    white-space: pre-wrap;
  }
.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}